<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p>{{user |json}}</p>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput name="username" type=text [(ngModel)]="user.username" #username="ngModel" required>
        <mat-error *ngIf="username.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name=" password" type=text [(ngModel)]="user.password" #password="ngModel" required>
        <mat-error *ngIf="password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-button class="background-primary text-floral-white"
      [disabled]="loginForm.form.invalid">Login</button>
  </mat-dialog-actions>
</form>